$default-padding: 1rem;
$colors: ($primary-color: white, $secondary-color: red);
$border-default: solid map-get($colors, $secondary-color) 4px;

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $default-padding;

    .nav{
        display: flex;
        gap: 2rem;

        a {
            text-decoration: none;
            color: black;
        }
    }

}

.firstClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    // background-color: red; 
     padding: 1rem;

     .sideNotes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 1rem;

        button{
            width: fit-content;
            padding: $default-padding;
            background-color: #9CB7DA;
            color: $primary-color;
            border: none;
        }  
    }

    .image > img{
        height: 100%;
    }
} 


.divisionThree{
    height: 100vh;
    // background-color: red;

    .toptext{
        text-align: center;

        h2 {
            font-size: 2.5em;
            padding: $default-padding;
            width: 30%;
            background-color: $primary-color;
            margin:auto;
        }
   }

   .testimonialsCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    margin: auto;
    padding: 1.5rem;
    gap: 1rem;

    .testimonials{
        width: 33.3%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // background-color: yellow;
        /* padding: 1rem;
        margin: 1rem; */

        img{
            height: 60%;
            width: 60%;
            margin:auto;
        }
    }

}
}

